_pycache_
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.venv/

yolov8n-seg.pt
yolov8n-seg.onnx
yolov8n-seg.onnx.index
yolov8n-seg.onnx.index.json
yolov8n-seg.onnx.index.json.gz
yolov8n-seg.onnx.index.json.gz.part
yolov8n-seg.onnx.index.json.gz.part.1
yolov8n-seg.onnx.index.json.gz.part.2
yolov8n-seg.onnx.index.json.gz.part.3
yolov8n-seg.onnx.index.json.gz.part.4
yolov8n-seg.onnx.index.json.gz.part.5